<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body  background="../../assets/pexels-photo-788817 (2).jpeg">
  <br><br><br><br><br>
 <div >  
  <div class="row" >
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="form-login" style="color:black">
         <h3 align="center"><strong>LOGIN</strong></h3>
         <label for="email"><strong>USERNAME :</strong></label>
         <input type="email" name="email" id="name" class="form-control input-sm chat-input" [(ngModel)]="emails"><br> 
         <label for="password"><strong>PASSWORD : </strong></label>
         <input type="password" name="password" id="pwd" class="form-control input-sm chat-input" [(ngModel)]="passwords"><br>
         <div class="wrapper">
            <span class="group-btn"> 
         <button class="btn btn-default" (click)="login()">Login</button>
            </span>
        </div>
      </div>
      </div>
      <div class="col-sm-4"></div>
     </div>
    </div>
    <br>
    <br>
    <br>
    <br><br><br><br><br><br><br><br><br><br>
    

    
    
    </body>
</html>